@charset 'UTF-8';
html {
    font-size: 10px;
}

a {
    text-decoration: none;
}

.logo {
    display: flex;
    justify-content: center;
    padding: 30px 0;
    
}

.logo a img {
    width: 160px;
}

.pc-visual-img {
    display: none;
}

.nav {
    padding: 20px 0;
}

.nav ul {
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
}

.nav ul li {
    list-style: none;
    font-size: 1.5rem;
    margin-right: 55px;
}

.nav ul li:last-child {
    margin: 0;
}

.nav ul li a {
    text-decoration: none;
    color: black;
}

.concept {
    flex-direction: column;
    display: flex;
    padding: 40px 20px 0px 20px;
}

.concept-img {
    margin-bottom: 30px;
}

.concept-texts {
    padding-left: 20px;
}

.concept-txet {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.concept-main {
    color: #4eadc3;
    font-size: 2.5rem;
    font-weight: bold;
    letter-spacing: 5px;
    margin-bottom: 20px;
}

.concept-detail {
    font-size: 1.5rem;
    letter-spacing: 3px;
    padding-bottom: 100px;
}

.blog {
    padding: 0 23px;
}

.blog-title {
    text-align: center;
    color: #4eadc3;
    font-size: 3rem;
    font-weight: bold;
    letter-spacing: 3px;
}

.blog-title-kana {
    text-align: center;
    padding-bottom: 20px;
    font-weight: bold;
    font-size: 1.2rem;
}

.item a {
    text-decoration: none;
    color: black;
}

.title {
    font-weight: bold;
    font-size: 1.4rem;
    padding-top: 10px;
    padding-bottom: 7px;
}

.data {
    font-size: 1.1rem;
    padding-bottom: 30px;
}

.bla{
    text-align: center;
    color: #4eadc3;
    font-size: 1.5rem;
    font-weight: bold;
    border: #4eadc3 solid 1px;
    border-radius: 2px;
    padding: 15px 10px;
    margin: 0 auto;
    margin-bottom: 50px;
    display: block;
}

.foot {
    background-color: black;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.fimg {
    padding-top: 60px;
    margin: 0 auto;
    width: 100px;
    padding-bottom: 18px;
}

.c {
    display: flex;
    justify-content: center;
    font-size: 1rem;
    color: #8b8b8b;
    padding: 20px 0;
}

@media (min-width: 768px) {
    .logo {
        display: flex;
        justify-content: center;
    }
    
    .logo a img {
        margin-top: 20px;
        margin-bottom: 20px;
        width: 300px;
    }

    .pc-visual-img {
        display: block;
    }

    .sm-visual-img {
        display: none;
    }
    
    ul {
        display: flex;
        justify-content: center;
        margin-top: 40px;
        margin-bottom: 90px;
    }
    
    li {
        list-style: none;
        margin-right: 100px;
    }

    .nav ul li:last-child {
        margin: 0;
    }
    
    a {
        text-decoration: none;
        color: black;
        font-size: 18px;
    }
    
    .concept {
         display: flex;
         align-items: center;
         flex-direction: row;
         padding: 0 80px;
         margin-top: 60px;
    }
    
    .concept .concept-img {
        margin-right: 40px;
        width: 50%;
    }
    
    .concept-texts {
        width: 50%;
    }
    
    .concept-main {
        color: #4eadc3;
        font-weight: bold;
        font-size: 31px;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .concept-detail {
        line-height: 30px;
    }
    
    .blog-title {
        margin-top: 60px;
        display: flex;
        justify-content: center;
        color: #4eadc3;
        font-weight: bold;
        font-size: 29px;
    }
    
    .blog-title-kana {
        display: flex;
        justify-content: center;
        font-size: 12px;
        font-weight: bold;
        margin-bottom:10px;
    }
    
    .title {
        font-weight: bold;
        font-size: 15px;
        margin-top: 15px;
    }
    
    .data {
        font-size: 12px;
    }
    
    .list {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    .item {
        width: 28.2%;
        margin-left: 30px;
    }
    .bla {
        display: block;
        border: #4eadc3 solid 1px;
        padding: 14px 30px;
        text-align: center;
        font-weight: bold;
        color: #4eadc3;
        border-radius: 4px;
        margin: 0 auto;
        width: 220px;
        margin-bottom: 50px;
    }
    
    .foot {
        background-color: black;
    }
    
    .foot .fimg {
        padding: 70px 0 20px;
        width: 180px;
        margin: 0 auto;
        margin-bottom: 10px;
    }
    
    .c {
        margin: 0 auto;
        text-align: center;
        color: #8b8b8b;
        font-size: 13px;
        padding-bottom: 30px;
    }
}

